p{
    color: red;
}

*{
    background-color: rgb(68, 132, 234);
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center; 
    font-weight: bold;
    width: 400px;
}

th, td {
  background-color: #96D4D4;
}

th{
    height: 30px;
}